<h1 mat-dialog-title>Add new Payment</h1>

<div mat-dialog-content>
	@if (loadingAddPayment) {
		<app-loading></app-loading>
	} @else {
		@if (addPaymentErrorCode != 0) {
			@if (addPaymentErrorCode == 1) {
				<app-error
					title="Error on add Payment"
					[errors]="['Loan doesn\'t exists']"></app-error>
			} @else {
				<app-error
					title="Error on add Payment"
					[errors]="addPaymentErrors"></app-error>
			}
		} @else {
			<form [formGroup]="addPaymentForm">
				<div class="row">
					<div class="form-group col">
						<mat-form-field class="w-100">
							<mat-label>Value</mat-label>
							<input
								formControlName="value"
								matInput
								type="number"
								placeholder="0" />
						</mat-form-field>

						@if (payment.value.touched) {
							<div>
								@if (payment.value.errors?.required) {
									<p class="d-block invalid-feedback">* required</p>
								}

								@if (payment.value.errors?.min) {
									<p class="d-block invalid-feedback">* at least R$ 1</p>
								}
							</div>
						}
					</div>

					<div class="form-group col">
						<mat-form-field class="w-100">
							<mat-label>Expiration Date</mat-label>
							<input
								formControlName="expirationDate"
								matInput
								[matDatepicker]="picker" />
							<mat-datepicker-toggle
								matIconSuffix
								[for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>

						@if (payment.expirationDate.touched) {
							<div>
								@if (payment.expirationDate.errors?.required) {
									<p class="d-block invalid-feedback">* required</p>
								}
							</div>
						}
					</div>

					<div class="form-group col">
						<mat-form-field class="w-100">
							<mat-label>Paid Date</mat-label>
							<input
								formControlName="paidDate"
								matInput
								[matDatepicker]="paidDatePicker" />
							<mat-datepicker-toggle
								matIconSuffix
								[for]="paidDatePicker"></mat-datepicker-toggle>
							<mat-datepicker #paidDatePicker></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
			</form>
		}
	}
</div>

<div mat-dialog-actions align="end">
	<button
		mat-flat-button
		color="primary"
		(click)="addPayment()"
		[disabled]="!addPaymentForm.valid || addPaymentErrorCode !== 0">
		<mat-icon fontIcon="add"></mat-icon>
		Add new Payment
	</button>

	<button mat-button mat-dialog-close>
		<mat-icon fontIcon="cancel"></mat-icon>Cancel
	</button>
</div>
