<h1 mat-dialog-title>Create new Loan</h1>

<div mat-dialog-content>
	<mat-stepper linear #stepper>
		<mat-step [stepControl]="createLoanForm" [editable]="!errorOnCreateLoan">
			<ng-template matStepLabel>Loan Details</ng-template>

			<form [formGroup]="createLoanForm">
				<div class="row">
					<div class="col">
						<mat-form-field class="w-100">
							<mat-label>Name</mat-label>
							<input formControlName="name" matInput />
						</mat-form-field>

						@if (loan.name.touched) {
							<div>
								@if (loan.name.errors?.required) {
									<p class="d-block invalid-feedback">* required</p>
								}

								@if (loan.name.errors?.maxlength) {
									<p class="d-block invalid-feedback">
										* maximum length of 25 characters
									</p>
								}
							</div>
						}
					</div>

					<div class="col">
						<mat-form-field class="w-100">
							<mat-label>Total Funded</mat-label>
							<input
								formControlName="totalFunded"
								matInput
								type="number"
								placeholder="0" />
						</mat-form-field>

						@if (loan.totalFunded.touched) {
							@if (loan.totalFunded.errors?.required) {
								<p class="d-block invalid-feedback">* required</p>
							}

							@if (loan.totalFunded.errors?.min) {
								<p class="d-block invalid-feedback">* at least R$ 1</p>
							}
						}
					</div>
				</div>
			</form>

			<div class="mt-4">
				<button mat-flat-button mat-flat-button matStepperNext>
					<mat-icon fontIcon="navigate_next"></mat-icon>Next
				</button>
			</div>
		</mat-step>

		<mat-step
			[stepControl]="createLoanPaymentsForm"
			[editable]="!errorOnCreateLoan">
			<ng-template matStepLabel>Payments</ng-template>

			<form [formGroup]="createLoanPaymentsForm">
				<ng-container formArrayName="payments">
					@for (
						payment of payments.controls;
						track payment;
						let index = $index
					) {
						<div [formGroupName]="index">
							<div class="row">
								<div class="form-group col-md-4">
									<mat-form-field class="w-100">
										<mat-label>Value</mat-label>
										<input
											formControlName="value"
											matInput
											type="number"
											placeholder="0" />
									</mat-form-field>
								</div>

								<div class="form-group col-md-4">
									<mat-form-field class="w-100">
										<mat-label>Expiration Date</mat-label>
										<input
											formControlName="expirationDate"
											matInput
											[matDatepicker]="picker" />
										<mat-datepicker-toggle
											matIconSuffix
											[for]="picker"></mat-datepicker-toggle>
										<mat-datepicker #picker></mat-datepicker>
									</mat-form-field>
								</div>

								<div class="col-md-2">
									<div class="d-flex align-items-center justify-content-center">
										<mat-slide-toggle formControlName="paid"
											>Paid</mat-slide-toggle
										>
									</div>
								</div>

								<div class="col-md-2">
									<button
										mat-flat-button
										color="warn"
										class="w-100"
										(click)="removePayment(index)">
										<mat-icon fontIcon="remove"></mat-icon>
										Remove
									</button>
								</div>
							</div>
						</div>
					}

					<button mat-flat-button color="primary" (click)="addPayment()">
						<mat-icon fontIcon="add"></mat-icon>Add
					</button>
				</ng-container>
			</form>

			<div class="mt-4">
				<button mat-flat-button mat-flat-button matStepperPrevious>
					<mat-icon fontIcon="navigate_before"></mat-icon>Previous
				</button>

				<button mat-flat-button mat-flat-button matStepperNext>
					<mat-icon fontIcon="navigate_next"></mat-icon>Next
				</button>
			</div>
		</mat-step>

		<mat-step [editable]="!errorOnCreateLoan">
			<ng-template matStepLabel>Confirmation</ng-template>

			@if (loadingCreateLoan) {
				<div class="d-flex align-items-center justify-content-center">
					<mat-spinner></mat-spinner>
				</div>
			} @else {
				@if (errorOnCreateLoan) {
					<app-error
						[errors]="createLoanResult.errors"
						[errorImageCode]="0"
						title="Error on create new Loan" />
				} @else {
					<div class="text-center">
						<img
							src="assets/images/loan-configured.png"
							alt="loan configured"
							title="loan configured" />
					</div>

					<div class="mt-4">
						<button class="me-4" mat-flat-button matStepperPrevious>
							<mat-icon fontIcon="navigate_before"></mat-icon>Previous
						</button>

						<button class="me-4" mat-flat-button (click)="stepper.reset()">
							<mat-icon fontIcon="restart_alt"></mat-icon>Reset
						</button>

						<button mat-flat-button color="primary" (click)="createLoan()">
							<mat-icon fontIcon="add"></mat-icon>Create
						</button>
					</div>
				}
			}
		</mat-step>
	</mat-stepper>
</div>

<div mat-dialog-actions align="end">
	<button mat-flat-button mat-dialog-close>
		<mat-icon fontIcon="cancel"></mat-icon>Cancel
	</button>
</div>
