<div>
	<button mat-raised-button color="primary" (click)="openDialog()">
		Create Loan
	</button>

	<table mat-table [dataSource]="loansDataSource" matSort>
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
			<td mat-cell *matCellDef="let loan">
				<a
					class="text-decoration-underline link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
					href="{{ '/loans/' + loan.id }}"
					>{{ loan.name }}</a
				>
			</td>
		</ng-container>

		<ng-container matColumnDef="totalFunded">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Total Funded</th>
			<td mat-cell *matCellDef="let element">
				{{ element.totalFunded | currency }}
			</td>
		</ng-container>

		<ng-container matColumnDef="createdAt">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
			<td mat-cell *matCellDef="let element">
				{{ element.createdAt | date: 'shortDate' }}
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="loansDataSourceColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: loansDataSourceColumns"></tr>
	</table>
</div>
