<div>
	<button mat-raised-button color="primary" (click)="openDialog()">
		Create Loan
	</button>
	<table mat-table [dataSource]="loansDataSource" matSort>
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
			<td mat-cell *matCellDef="let loan">{{ loan.name }}</td>
		</ng-container>

		<ng-container matColumnDef="value">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
			<td mat-cell *matCellDef="let element">{{ element.value | currency }}</td>
		</ng-container>

		<ng-container matColumnDef="createdAt">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
			<td mat-cell *matCellDef="let element">
				{{ element.createdAt | date: 'short' }}
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="loansDataSourceColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: loansDataSourceColumns"></tr>
	</table>
</div>
